<nav class="menu">
  <a href="#main" class="icon-main">R</a>
  <a href="#skills" class="icon-skills"></a>
  <a href="#projects" class="icon-projects"></a>
  <a href="#icon-contact" class="icon-contact"></a>
  <div class="divider"></div>
  <a href="https://www.linkedin.com/in/rafaelfaustrodrigues/" target="_blank" class="icon-linkedin"></a>
  <a href="https://github.com/rafaelfaust/" target="_blank" class="icon-github"></a>
  <a href="https://www.youtube.com/user/webfael" target="_blank" class="icon-youtube"></a>
</nav>
<section class="main" id="main">
  <div class="content">
    <div class="left-side">
      <h1>
        Olá,<br/>
        Eu sou o <span>R</span>afael,<br/>
        desenvolvedor Full Stack
      </h1>
      <button class="btn-contact">Entrar em contato</button>
    </div>
    <div class="img"></div>
  </div>
</section>
<section class="skills" id="skills">
  <h1>Competências</h1>

  <p>Backend</p>
  <div class="loading backend"></div>

  <p>Frontend</p>
  <div class="loading frontend"></div>

  <p>DevOps</p>
  <div class="loading devops"></div>

  <p>Mobile</p>
  <div class="loading mobile"></div>

</section>
<section class="projects" id="projects">
  <h1>Portfólio e<br/> Experiências</h1>

  <div class="boxes">
    <div class="box blue">
      <h2>Mini Portfólio</h2>
      <a href="https://github.com/rafaelfaust/Mini-Portfolio" target="_blank">GitHub</a>
      <a href="https://lambent-brigadeiros-3960e6.netlify.app/" target="_blank">Deploy</a>
    </div>
    <div class="box red">
           <h2>Portfólio.Api</h2>
      <a href="https://github.com/rafaelfaust/Portfolio.API" target="_blank">GitHub</a>
      <p class="off">Api atual</p>

    </div>
    <div class="box blue">
      <h2>Tom-s-Jazz-School</h2>
      <a href="https://github.com/rafaelfaust/Tom-s-Jazz-School" target="_blank">GitHub</a>
      <a href="https://tom-s-jazz-school-rose.vercel.app/" target="_blank">Deploy</a>
    </div>
  </div>
  <div class="boxes">
    <div class="box orange">
      <h2>Previsão do tempo</h2>
      <a href="https://github.com/rafaelfaust/weather" target="_blank">GitHub</a>
      <a href="https://weather.webfael.com.br/" target="_blank">Deploy</a>
    </div>
    <div class="box green">
      <h2>Portfólio.Web</h2>
      <a href="https://github.com/rafaelfaust/Mini-Portfolio" target="_blank">GitHub</a>
      <p class="off">Site Atual</p>
    </div>
    <div class="box orange">     
      <h2>The Last Of Us</h2>
      <a href="https://github.com/rafaelfaust/carrossel-the-last-of-us-main" target="_blank">GitHub</a>
      <a href="https://rafaelfaust-the-last-of-us.netlify.app" target="_blank">Deploy</a></div>
  </div>

</section>
<section class="contact" id="contact">
  <h1>Entrar em <br/>contato</h1>

  <div class="form">
    <div class="row">
      <input class="input" type="name" placeholder="Nome" [(ngModel)]="name">
      <input type="email" class="input" placeholder="Email" [(ngModel)]="email">
    </div>
    <input type="text" class="input" placeholder="Assunto" [(ngModel)]="subject">
    <textarea placeholder="Mensagem" class="textarea" [(ngModel)]="message"></textarea>
    <button type="submit" class="submit" (click)="sendMessage()">Enviar</button>
  </div>
</section>